	body {
		font-family: "PT Sans", Arial, sans-serif;
		text-transform: uppercase;
		background-color: #f2f2f2;
		margin: 0;
		padding: 0;
	}
	a {
	    text-decoration: none 
	}
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 1200px;

	}
	.visually-hidden {
		display: none;
    }
	.content-header {
		position: relative;
		background-color: #ffffff;
		display: flex;
	    justify-content: space-around;
	}
	.content-header a {
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
		
	}
	.header-nav {
		list-style: none;
		display: flex;
	    justify-content: space-between;
	    width: 1055px;
	    min-height: 55px;
	    padding: 0;
	    margin: 0;
	    padding-top: 18px;
	    box-sizing: border-box;
	}
	.header-logo {
		position: absolute;
	}
		
	.nav-item:hover {
		color: #81b3d2;
	}
	.nav-item:active {
		color: rgba(0, 0, 0, 0.3);
	}
	.nav-item-active {
		color: #766357;
	}
	
	
	.main-logos {
		background-image: url(../img/background.jpg);
		background-repeat: no-repeat;
		display: flex;
	    justify-content:center;
	    flex-direction: column;
	    min-height: 500px;
	}

	.main-logos::after {
		content: "";
		display: block;
		width: 1200px;
		height: 57px;
		position: absolute;
		background: url(../img/shape.png);
		top:515px;
	}
    .main-logos img {
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 90px;
    	margin-top: 75px; 

    }
	.main-text {
		background-color: #ffffff;
		text-align: center;
		min-height: 170px;
		padding-top: 55px;
		box-sizing: border-box;
	}
	.main-text p {
		color: #333333;
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 50px;
	}
	.main-text h2 {
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
		padding-bottom: 35px;
		box-sizing: border-box;
	}
	.advantages {
		margin: 0;
		padding: 0;
	}
	.advantages-block {
        display: flex;
       
	}

	
	.advantages-block-item {
		background-color: #81b3d2;
		width: 400px;
		min-height: 255px;
		box-sizing: border-box;
		text-align: center;
		padding-top: 45px;

		
	}
	.advantages-block-img {
		line-height: 0;
	}
	.advantages-block-item h3 {
		color: #ffffff;
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
	}
	.advantages-block-item p {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;

	}
	.advantages-block-item b {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;
	}
	.advantages-lower {
		background-color: #eeeeee;
    }
    .advantages-lower h3{
    	color: #000000;
    }
    .advantages-lower p {
    	color: #333333;
    }
    .advantages-lower b {
    	color: #333333;
    }

	.comfort {
		
		margin: 0;
		padding: 0;
		display: flex;
	
	}
	.comfort-services {
		background-color: #ffffff;
		width: 400px;
		min-height: 330px;
		text-align: center;
		box-sizing: border-box;
		padding-top: 160px;
		position: relative;
	}

	.comfort-services p { 
		color: #333333;
		font-size: 14px;
		line-height: 21px;

	}
	.icon-home::before {
		content: "";
		position: absolute;
		background: url(../img/icon-1.svg) no-repeat;
		width: 75px;
		height: 72px;
		left: 160px;
		top: 60px;
		display: block;		
    }
    .icon-food::before {
    	content: "";
		position: absolute;
		background: url(../img/icon-3.svg) no-repeat;
		width: 75px;
		height: 72px;
		left: 162px;
		top: 60px;
		display: block;		
    }
    .icon-souvenirs::before {
    	content: "";
		position: absolute;
		background: url(../img/icon-2.svg) no-repeat;
		width: 75px;
		height: 76px;
		left: 166px;
		top: 56px;
		display: block;		
    }

	.travel-date {
		display: flex;
		margin: 0;
		padding: 0;
		background-color: #ffffff;
		min-height: 290px;
		justify-content: center;
		
	}
	.travel-date-item {
		background-color: #ffffff;
		margin-top: 50px;
		text-align: center;
	}
    .travel-date-item p {
    	color: #333333;
    	font-size: 14px;
		line-height: 21px;
    }
    .travel-date-item h3 {
    	font-size: 21px;
		line-height: 26px;
		font-weight: bold;
    }
    .map {
    	line-height: 0;
    }
    footer {
    	background-color: #ffffff;
    	min-height: 120px;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    }
    .social-footer a {
    	width: 50px;
    	height: 45px;
    	background-color: #81b3d2;
    	display: inline-block;
    	margin-right: 6px;
    }
    .social-footer a:hover {
    	background-color: #689fc1;
    }
    .social-footer a:active {
    	background-color: #5496bd;
    }
    .social-btn {
    	width: 20px;
    	height: 20px;
    } 
    .social-btn-tv {
    	background: url(../img/twitter.svg) no-repeat center;
    	
    }
    .social-btn-fb {
    	background: url(../img/fb-icon.svg)   no-repeat center;
    	
    }
    .social-btn-yo {
    	background: url(../img/youtube.svg) no-repeat center;
    	
    }
    .visitsedona  {
    	font-weight: bold;
    }
    .website {
    	font-size: 14px;
    	line-height: 26px;
    	margin-right: 10px;
    }
    .footer-logo {
    	display: flex;
    	align-items: center;
    }
    
    .footer-logo path:hover {
    	fill: #81b3d2;
    }
   
    .footer-logo path:active {
    	fill: #c6c4c5;
    }
   
    .popup {
    	background-color: #ffffff;
    }
    .popup-item {
    	list-style: none;
    }
    .popup-header {
    	background-color: #766357;
    	color: #ffffff;
    }
  
    input {
    	background-color: #f2f2f2;
    	border: none;
    }
    .popup-button {
    	color: #ffffff;
    	background-color: #81b3d2;
    	border: none;
    }
    .options-btn-right:hover,.popup-header:hover {
    	background-color: #604e43;
    }
    .options-btn-right:active,.popup-header:active {
    	background-color: #503e33;
    	color: rgba(255, 255, 255, 0.3);
    }
  
    input:hover {
    	background-color: #ebebeb;
    }
    input:focus {
    	outline: 2px solid #eeeeee;
    	background-color: #ffffff;
    }
    .options-btn-left:hover,.popup-button:hover {
    	background-color: #669ec0;
    }
    .options-btn-left:active,.popup-button:active {
    	background-color: #5496bd;
    	color: rgba(255, 255, 255, 0.3);
    }
   
    .selection-hotels {
    	margin: 0;
    	padding: 0;
    	min-height: 220px;
        background: url(../img/filter-background.jpg )  no-repeat;
    	background-size: 1200px 562px;
    	background-color: #cacaca;

    }
    .selection-hotels-form {
    	margin: 0;
    	padding: 0;
    	display: flex;
    	padding-top: 25px;
    	box-sizing: border-box;

    }
    .selection-hotels-list	{
    	list-style: none;
    	width: 250px;
    	margin-top: 20px;
    	padding-left: 38px;
    	
    }
    .selection-hotels-list li {
    	margin-bottom: 20px;

    }
    fieldset {
        border: none;
        padding: 0;
    }
    .fieldset-infrastructure-housing {
    	padding-left: 70px;
    	margin: 0;
    }
    .selection-hotels legend {
    	font-size: 16px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: bold;
    }
    .selection-hotels-form label {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: normal;
    }
    input[type="checkbox"] {
    	display: none;
    }
    .selection-hotels-list label {
    	
    	font-size: 14px;
    	line-height: 26px;
        position: relative;
        cursor: pointer;
    }
     .selection-hotels label::before {
        content: "";
        position: absolute;
        top: -3px;
        left: -36px;
        z-index: 1;
        background: url(../img/checkbox-off.svg) no-repeat;
        width: 24px;
        height: 24px;
    }
    input[type="checkbox"]:checked ~ label::before {
        width: 24px;
        height: 24px;
        background: url(../img/checkbox-on.svg) no-repeat;
    }
    label:disabled {
    	width: 24px;
        height: 24px;
        background: url(../img/checkbox-off-disabled.svg) no-repeat;
    }
    input[type="checkbox"]:checked ~ label:disabled {
        width: 24px;
        height: 24px;
        background: url(../img/checkbox-off-checked-disabled.svg) no-repeat;
        
    }
    .cost {
    	margin-bottom: 9px;
    }
    .cost-per-day {
    	margin-left: auto;
    	margin-right: 70px;
    	width: 330px;
    	font-size: 16px;
        line-height: 21px;
        text-align: center;
    }
    .filter-range {
        width: 330px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .price-controls {
        position: relative;
        height: 36px;
        margin-bottom: 20px;
        font-size: 0;
        border: 2px solid #ffffff;
        border-radius: 2px;
    }

    .price-controls::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 22px;

        background: #ffffff;
        transform: translate(-50%, -50%);
}

    .price-controls label {
        display: inline-block;
        font-size: 14px;
        line-height: 38px;
        vertical-align: top;
        cursor: pointer;
    }

    .price-controls .min-price,
    .price-controls .max-price {
        width: 90px;
        padding-left: 65px;
    }

    .price-controls input {
        width: 50px;
        margin: 0;
        color: inherit;
        font: inherit;
        background: none;
        border: none;
    }

    .range-controls {
        position: relative;
        margin-bottom: 32px;
    }

    .range-controls .scale {
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
    }

    .range-controls .bar {
        width: 80%;
        height: 2px;

        background: #ffffff;
    }

    .range-toggle {
        position: absolute;
        top: -9px;
        width: 4px;
        height: 4px;
        background: #ababab;
        border: 8px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
        cursor: pointer;
    }

    .range-toggle:hover {
        background: #1c4f80;
    }

    .range-toggle-min {
        left: 0;
    }

    .range-toggle-max {
        left: 80%;
    }
    .cost-less,.cost-larger {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    }
    .cost-btn {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	border: 2px solid #ffffff;
    	background: transparent;
    	padding-left: 35px;
    	padding-right: 35px;
    	padding-top: 7px;
    	padding-bottom: 7px;
    	box-sizing: border-box; 
    }
    .cost-btn:hover {
    	color: #000000;
    	background-color: #ffffff;
    }
    .examples-hotels {
    	margin: 0;
    	padding: 0;
    	background-color: #fefefe;

    }
    .sorting {
    	min-height: 85px;
    	border-bottom: 2px solid #f2f2f2;
    	display: flex;
    	justify-content: flex-start;
    	align-items: center;

    }
    .find-span {
    	font-size: 21px;
    	line-height: 26px;
    	font-weight: bold;
    	padding-left: 70px;
    }
    .sorting-span {
    	font-size: 12px;
    	line-height: 18px;
    	margin-left: 50px;
    }
    .sorting-items {
    	list-style: none;
        width: 100%;
    	display: flex;
    	justify-content: space-between;
    }
    .sorting-items a {
    	font-size: 12px;
    	line-height: 18px;
    	color: rgba(0, 0, 0, 0.3);
    	border-bottom: 1px dashed #81b3d2;
    	margin-right: 30px;
    }
    

    }
    .sorting-items a:hover {
    	border-bottom: 1px dashed #81b3d2;
    	color: #81b3d2;
    }
    .sorting-items a:active {
    	color: #000000;
    }
    .sorting-items-arrow {
    	width: 40px;
    	height: 11px;
    	display: flex;
    	margin-left: auto;
    	padding-top: 10px;
    	padding-right: 70px;


    }
    .arrow-up {
    	background: url(../img/icon-up-dir.svg) no-repeat;
    	width: 11px;
    	height: 11px;
    	margin-right: 10px;
    }
    .arrow-dir {
        background: url(../img/icon-down-dir.svg) no-repeat;
    	width: 11px;
    	height: 11px;
    }
    .sorting-active {
    	color: #81b3d2;
    }
    .examples-options-hotels {
    	display: flex;
    	flex-direction: column;
    	box-sizing: border-box;
    }
    .options-hotels {
    	min-height: 150px;
    	display: flex;
    	border-bottom: 2px solid #f2f2f2;
    	padding-left: 70px;
    	box-sizing: border-box;
    	
    }
    .img-options-hotels {
    	margin-top: 30px;
    }
    .block-options-hotels {
    	margin-left: 30px;
    	position: relative;
    }
    .hotel-name h3 {
    	font-size: 21px;
		line-height: 26px;
		font-weight: bold;
		margin-bottom: 0px;
        margin-top: 25px;
    }
    .hotel-name h3:hover {
    	color: #81b3d2;
    }
    .hotel-name h3:active {
    	color: rgba(0, 0, 0, 0.3);
    }
    .options-hotels-items {
    	display: flex;
    	margin-top: 11px;
    	margin-bottom: 8px;
    	width: 180px;

    }
    .options-hotels-star {
    	width: 80px;
    	height: 17px;
    	background: url(../img/star.svg) space;
    	position: absolute;
    	left: 810px;
    	top: 30px;
    }
   .options-hotels-price {
   	    margin-left: auto;
    }

    .options-hotels-housing,.options-hotels-price  {
    	font-size: 14px;
    	line-height: 21px;
    	color:#333333;
    	font-weight: normal;
    	
    }
    .options-hotels-btn {
    	display: flex;
    	width: 965px;

    }
    .options-btn-left {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	color: #ffffff;
    	background-color: #81b3d2;
    	padding-left: 16px;
    	padding-right: 16px;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	box-sizing: border-box;
        
     }
    .options-btn-right {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	color: #ffffff;
    	background-color: #766357;
    	margin-left: 5px;
    	padding-left: 16px;
    	padding-right: 16px;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	

    }
    .options-hotels-rating {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: normal;
    	color: #666666;
    	text-align: center;
    	background-color: #f2f2f2;
    	margin-left: auto;
    	margin-right: 70px;
    	padding-top: 5px;
        width: 110px;
        
    }



