	body {
		font-family: "PT Sans", Arial, sans-serif;
		text-transform: uppercase;
	}
	a {
	    text-decoration: none 
	}
	.content-header {
		background-color: #ffffff;
	}
	.content-header a {
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
	}
	.header-nav {
		list-style: none;
	}
	.nav-item:hover {
		color: #81b3d2;
	}
	.nav-item:active {
		color: rgba(0, 0, 0, 0.3);
	}
	.nav-item-active {
		color: #766357;
	}
	.main-logos {
		background-image: url(../img/background.jpg);
		background-repeat: no-repeat;
	}
	.main-text {
		background-color: #ffffff;
	}
	.main-text p {
		color: #333333;
		font-size: 14px;
		line-height: 21px;
	}
	.main-text h2 {
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
	}
	.advantages-block-item {
		background-color: #81b3d2;
	}
	.advantages-block-item h3 {
		color: #ffffff;
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
	}
	.advantages-block-item p {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;

	}
	.advantages-block-item b {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;
	}
	.comfort-services {
		background-color: #ffffff;
	}
	.comfort-services p {
		color: #333333;
		font-size: 14px;
		line-height: 21px;
	}
	.travel-date-item {
		background-color: #eeeeee;
	}
    .travel-date-item p {
    	color: #333333;
    	font-size: 14px;
		line-height: 21px;
    }
    .travel-date-item h3 {
    	font-size: 21px;
		line-height: 26px;
		font-weight: bold;
    }
    footer {
    	background-color: #ffffff;
    }
    .visitsedona  {
    	font-weight: bold;
    }
    .website {
    	font-size: 14px;
    	line-height: 26px;
    }
    .popup {
    	background-color: #ffffff;
    }
    .popup-item {
    	list-style: none;
    }
    .popup-header {
    	background-color: #766357;
    	color: #ffffff;
    }
    label {
    	font-weight: bold;
    	font-size: 14px;
    	line-height: 26px;
    }
    input {
    	background-color: #f2f2f2;
    	border: none;
    }
    .popup-button {
    	color: #ffffff;
    	background-color: #81b3d2;
    	border: none;
    }
    .options-btn-right:hover,.popup-header:hover {
    	background-color: #604e43;
    }
    .options-btn-right:active,.popup-header:active {
    	background-color: #503e33;
    	color: rgba(255, 255, 255, 0.3);
    }
  
    input:hover {
    	background-color: #ebebeb;
    }
    input:focus {
    	outline: 2px solid #eeeeee;
    	background-color: #ffffff;
    }
    .options-btn-left:hover,.popup-button:hover {
    	background-color: #669ec0;
    }
    .options-btn-left:active,.popup-button:active {
    	background-color: #5496bd;
    	color: rgba(255, 255, 255, 0.3);
    }
    .examples-hotels {
    	background-color: #fefefe;
    }
    .selection-hotels {
    	background: url(../img/filter-background.jpg )  no-repeat;
    	background-size: 1200px 562px;
    	background-color: #cacaca;
    }
    .selection-hotels-list	{
    	list-style: none;
    }
    .selection-hotels legend {
    	font-size: 16px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: bold;
    }
    .selection-hotels-form label {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: normal;
    }
    .cost-less,.cost-larger {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    }
    .cost-btn {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	border: 2px solid #ffffff;
    	background: transparent; 
    }
    .cost-btn:hover {
    	color: #000000;
    	background-color: #ffffff;
    }
    .find-span {
    	font-size: 21px;
    	line-height: 26px;
    	font-weight: bold;
    }
    .sorting-span {
    	font-size: 12px;
    	line-height: 18px;
    }
    .sorting-items {
    	list-style: none;
    }
    .sorting-items a {
    	font-size: 12px;
    	line-height: 18px;
    	color: rgba(0, 0, 0, 0.3);
    	border-bottom: 1px dashed #81b3d2;
    }
    .sorting-items a:hover {
    	border-bottom: 1px dashed #81b3d2;
    	color: #81b3d2;
    }
    .sorting-items a:active {
    	color: #000000;
    }
    .sorting-active {
    	color: #81b3d2;
    }
    .hotel-name h3 {
    	font-size: 21px;
		line-height: 26px;
		font-weight: bold;
    }
    .hotel-name h3:hover {
    	color: #81b3d2;
    }
    .hotel-name h3:active {
    	color: rgba(0, 0, 0, 0.3);
    }

    .options-hotels-housing,.options-hotels-price  {
    	font-size: 14px;
    	line-height: 21px;
    	color:#333333;
    	font-weight: normal;
    }
    .options-btn-left {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	color: #ffffff;
    	background-color: #81b3d2;
    }
    .options-btn-right {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	color: #ffffff;
    	background-color: #766357;
    }
    .options-hotels-rating {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: normal;
    	color: #666666;
    	background-color: #f2f2f2;
    }



