	body {
		font-family: "PT Sans", Arial, sans-serif;
		text-transform: uppercase;
		background-color: #f2f2f2;
		margin: 0;
		padding: 0;

	}
	a {
	    text-decoration: none 
	}
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
		position: relative;
		box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

	}
	.visually-hidden {
		display: none;
    }
	.content-header {
		position: relative;
		background-color: #ffffff;
		display: flex;
	    justify-content: space-around;
	    
	}
	.content-header a {
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		color: #000000;
		
	}
	.header-nav {
		list-style: none;
		display: flex;
	    justify-content: space-between;
	    width: 1055px;
	    min-height: 55px;
	    padding: 0;
	    margin: 0;
	    padding-top: 14px;
	    box-sizing: border-box;
	}
	.nav-foto-video {
		margin-right: 249px;
		margin-left: -10px;

	}
	.nav-information {
		margin-right: -6px;
	}
	.nav-map {
		margin-left: -22px;
	}
	.header-logo {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 531px;
	}
		
	.nav-item:hover {
		color: #81b3d2;
	}
	.nav-item:active {
		color: rgba(0, 0, 0, 0.3);
	}
	.nav-item-active {
		color: #766357;
	}
	
	.container {
		position: relatie;
	}
	.main-logos {
		background-image: url(../img/background.jpg);
		background-repeat: no-repeat;
		background-position: 0 -55px;
        display: flex;
	    justify-content:center;
	    flex-direction: column;
	    min-height: 510px;

	}

	.main-logos::after {
		content: "";
		display: block;
		width: 1200px;
		height: 57px;
		position: absolute;
		background: url(../img/shape.png);
		top:505px;
	}
    .main-logos img {
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 90px;
    	margin-top: 75px; 

    }
	.main-text {
		background-color: #ffffff;
		text-align: center;
		min-height: 170px;
		padding-top: 14px;
		margin-top: -10px;
		box-sizing: border-box;
	}
	.main-text p {
		color: #333333;
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 50px;

	}
	.main-text h2 {
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
		padding-top: 32px;
		padding-bottom: 12px;
		box-sizing: border-box;
	}
	.advantages {
		margin: 0;
		padding: 0;
	}
	.advantages-block {
        display: flex;
    }
    .advantages-block-item {
		background-color: #81b3d2;
		width: 400px;
		min-height: 255px;
		box-sizing: border-box;
		text-align: center;
		padding-top: 25px;

		
	}
	.advantages-block-img {
		line-height: 0;
	}
	.advantages-block-item h3 {
		color: #ffffff;
		font-size: 21px;
		line-height: 22px;
		font-weight: bold;
		text-align: center;
		display: block;
		width: 151px;
		margin-left: 123px;
	}
	.advantages-block-item p {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;
		margin-top: 21px;

	}
	.advantages-block-item b {
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		color: #ffffff;
		display: block;
		 margin-top: 26px;
	}
	
	
	.advantages-lower {
		background-color: #eeeeee;
    }
    .advantages-lower h3{
    	color: #000000;
    	margin-top: 22px;
    }
    .advantages-lower p {
    	color: #333333;
    	display: block;
    	width: 280px;
    	text-align: center;
    	margin-left: 60px;
    	margin-top: 19px;
    }
    .advantages-lower b {
    	color: #333333;
    }

	.comfort {
		
		margin: 0;
		padding: 0;
		display: flex;
	
	}
	.comfort-services {
		background-color: #ffffff;
		width: 400px;
		min-height: 330px;
		text-align: center;
		box-sizing: border-box;
		padding-top: 160px;
		position: relative;
	}
	.comfort-services h3 {
		margin-top: 3px;
		font-weight: bold;
		font-size: 21px;
	}

	.comfort-services p { 
		color: #333333;
		font-size: 14px;
		line-height: 21px;
		margin-top: 20px;
		text-align: center;
		display: block;
		width: 290px;
		margin-left: 53px;
		

	}
	.icon-home::before {
		content: "";
		position: absolute;
		background: url(../img/icon-1.svg) no-repeat;
		width: 75px;
		height: 72px;
		left: 160px;
		top: 60px;
		display: block;		
    }
    .icon-food::before {
    	content: "";
		position: absolute;
		background: url(../img/icon-3.svg) no-repeat;
		width: 75px;
		height: 72px;
		left: 162px;
		top: 60px;
		display: block;		
    }
    .icon-souvenirs::before {
    	content: "";
		position: absolute;
		background: url(../img/icon-2.svg) no-repeat;
		width: 75px;
		height: 76px;
		left: 166px;
		top: 56px;
		display: block;		
    }

	.travel-date {
		display: flex;
		margin: 0;
		padding: 0;
		background-color: #ffffff;
		min-height: 293px;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
	}
	.travel-date-item {
		background-color: #ffffff;
	    text-align: center;
	    
	}
    .travel-date-item p {
    	color: #333333;
    	font-size: 14px;
		line-height: 21px;
		
    }
    .travel-date-item h3 {
    	font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		margin-top: 54px;
        margin-bottom: 26px;
    }
    .travel-date-btn {
        background-color: #766357;
    	color: #ffffff;
    	height: 84px;
    	width: 569px;
    	padding: 0;
    	text-align: center;
    	box-sizing: border-box;
    	border: none;
        text-transform: uppercase;
        font-weight: bold;
    	font-size: 21px;
    	line-height: 26px;
    }
    .map {
    	line-height: 0;
    	max-height: 474px;
    	position: relative;
    	
    }
    iframe {
    	border: none;
    }
   
    footer {
    	background-color: rgba(255, 255, 255, 0.9);
    	min-height: 120px;
    	width: 1200px;
    	display: flex;
        justify-content: space-between;
    	align-items: center;
    	position: absolute;
    	z-index: 100;
    	bottom: -119px;
    	left: 0;
    	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    	
    }
    .social-footer {
    	margin-left: 74px;
    	margin-top: 15px;
    	width: 200px;
    	height: 65px;
    }
    .social-footer a {
    	width: 45px;
    	height: 48px;
    	background-color: #81b3d2;
    	display: inline-block;
    	margin-right: 5px;
    }
    .social-footer a:hover {
    	background-color: #689fc1;
    }
    .social-footer a:active {
    	background-color: #5496bd;
    }
    .social-btn {
    	width: 20px;
    	height: 20px;
    } 
    .social-btn-tv {
    	background: url(../img/twitter.svg) no-repeat center;
    	
    }
    .social-btn-fb {
    	background: url(../img/fb-icon.svg)   no-repeat center;
    	
    }
    .social-btn-yo {
    	background: url(../img/youtube.svg) no-repeat center;
    	
    }
    .visitsedona  {
    	font-weight: bold;
    	font-size: 21px;
    	color: #151515;
    	line-height: 26px;
    	margin-left: 132px;
    }
    .website {
    	font-size: 14px;
    	line-height: 26px;
    	margin-right: 10px;
    }
    .footer-logo {
    	display: flex;
    	align-items: center;
    	margin-right: 99px;

    }
    .footer-logo a {
    	width: 115px;
    	height: 41px;
    }
    .footer-logo a:hover path {
    	fill: #81b3d2;
    }
    
    
   
    .footer-logo a:active path {
    	fill: #c6c4c5;
    }
   
    .popup {
    	background-color: #ffffff;
    	position: absolute;
    	z-index: 1000;
    	top: 2167px;
    	margin: 0;
    	padding: 0;
    	 
  left: 50%;
 
  margin: -70px 0 0 -170px;
    	box-sizing: border-box;
    	width: 569px;
    	height: 395px;
    }
    .popup-item {
    	list-style: none;
    	margin: 0;
    	margin-bottom: -1px;
    	padding-left: 58px;

    	
    }
    .popup-forma {
        margin-top: 56px;
        padding: 0;
    }
    .popup label {
    	font-size: 14px;
    	line-height: 26px;
    	font-weight: bold;
    	position: relative;

    }
     .popup-adults {
    	padding-left: 56px;
    	position: relative;
    	
    }
    .popup-children {
    	padding-left: 56px;
        margin-right: 26px;

    }
    .popup-date-input {
    	background-color: #f2f2f2;
    	border: none;
    	width: 343px;
    	height: 38px;
    	padding: 0;
        margin-bottom: 30px;
        margin-left: 17px;
        text-indent: 17px;
    	
    }
    .popup-date-input-2  {
    	margin-left: 13px;
    }
    .popup-number {
    	display: flex;
    	align-items: center;
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	height: 38px;
    }
    
    .popup-number-adults {
    	background-color: #f2f2f2;
    	border: none;
    	width: 37px;
    	height: 38px;
    	padding: 0;
    	text-align: center;
    		
    }
    .popup-number-children {
    	background-color: #f2f2f2;
    	border: none;
    	width: 37px;
    	height: 38px;
    	padding: 0;
    	text-align: center;
    }
    .input-adults {
    	margin-left: 24px;
    }
    .input-children {
    	margin-left: 24px;
    }
    .popup-button {
    	color: #ffffff;
    	font-size: 21px;
    	line-height: 26px;
    	text-transform: uppercase;
    	font-weight: bold;
    	background-color: #81b3d2;
    	border: none;
    	box-sizing: border-box;
    	margin-top: 52px;
    	width: 457px;
    	height: 61px;
    	margin-left: 57px;
    	padding-left: 4px;
    }
    .popup-calendar-arrival {
    	position: absolute;
    	right: 65px;
        top: 64px;
        width: 21px;
        height: 22px;
        padding: 0;
        fill: #cacaca;
        border: none;
        background-color: #f2f2f2;

    }
    .popup-calendar-departure {
    	position: absolute;
    	right: 65px;
    	top: 132px;
    	width: 21px;
        height: 22px;
        padding: 0;
        fill: #cacaca;
        border: none;
        background-color: #f2f2f2;


    }
    .popup-calendar-arrival:hover path, 
    .popup-calendar-departure:hover path{
    	fill: #000000;
    }
    .popup-calendar-arrival:active path, 
    .popup-calendar-departure:active path {
    	fill: #81b3d2;

    }
    .options-btn-right:hover,.travel-date-btn:hover {
    	background-color: #604e43;
    }
    .options-btn-right:active,.travel-date-btn:active {
    	background-color: #503e33;
    	color: rgba(255, 255, 255, 0.3);
    }
    .minus {
    	width: 38px;
    	height: 38px;
        background-color: #f2f2f2;
    	border: none;
    	color: #a9a9a9;
    	margin-left: 38px;
	
    }
    .plus {
        width: 38px;
    	height: 38px;
        background-color: #f2f2f2;
    	border: none;
    	color: #a9a9a9;
    	font-weight: bold;
    }

    .minus-2 {
    	width: 38px;
    	height: 38px;
    	background-color: #f2f2f2;
    	border: none;
    	color: #a9a9a9;
    	

    }
    .plus-2 {
    	width: 38px;
    	height: 38px;
    	padding: 0;
    	background-color: #f2f2f2;
    	border: none;
    	color: #a9a9a9;
    	
    }
    .minus:hover line, .minus-2:hover line,
    .plus:hover line, .plus-2:hover line  {
    	stroke: #000000;
    }
    .minus:active line, .minus-2:active line,
    .plus:active line, .plus-2:active line  {
    	stroke: #81b3d2;
    }
    input:hover {
    	background-color: #ebebeb;
    }
    input:focus {
    	outline: 2px solid #eeeeee;
    	background-color: #ffffff;
    }
    .options-btn-left:hover,.popup-button:hover {
    	background-color: #669ec0;
    }
    .options-btn-left:active,.popup-button:active {
    	background-color: #5496bd;
    	color: rgba(255, 255, 255, 0.3);
    }
   
    .selection-hotels {
    	margin: 0;
    	padding: 0;
    	min-height: 217px;
        background: url(../img/filter-background.jpg )  no-repeat;
    	background-size: 1200px 562px;
    	background-color: #cacaca;

    }
    .selection-hotels-form {
    	margin: 0;
    	padding: 0;
    	display: flex;
    	padding-top: 30px;
    	box-sizing: border-box;

    }
    .selection-hotels-list	{
    	list-style: none;
    	width: 200px;
    	margin-top: 20px;
    	padding-left: 39px;
    	margin-right: 16px;
    	
    }
    .selection-hotels-list li {
    	margin-bottom: 20px;

    }
    fieldset {
        border: none;
        padding: 0;
    }
    .fieldset-infrastructure-housing {
    	padding-left: 70px;
    	margin: 0;
    	
    }
    .selection-hotels legend {
    	font-size: 16px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: bold;
    }
    .selection-hotels-form label {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	font-weight: normal;
    }
    input[type="checkbox"] {
    	display: none;
    }
    .selection-hotels-list label {
    	
    	font-size: 14px;
    	line-height: 26px;
        position: relative;
        cursor: pointer;
    }
     .selection-hotels-list label::before {
        content: "";
        position: absolute;
        top: -3px;
        left: -36px;
        z-index: 1;
        background: url(../img/checkbox-off.svg) no-repeat;
        width: 24px;
        height: 24px;
    }
    input[type="checkbox"]:checked ~ label::before {
        width: 24px;
        height: 24px;
        background: url(../img/checkbox-on.svg) no-repeat;
    }
    label:disabled {
    	width: 24px;
        height: 24px;
        background: url(../img/checkbox-off-disabled.svg) no-repeat;
    }
    input[type="checkbox"]:checked ~ label:disabled {
        width: 24px;
        height: 24px;
        background: url(../img/checkbox-off-checked-disabled.svg) no-repeat;
        
    }


    .cost {
    	margin-bottom: 7px;
    	color: #ffffff;
    	font-weight: bold;
    	text-align: left;
    }
    .cost-per-day {
    	margin-left: auto;
    	margin-right: 70px;
    	width: 320px;
    	font-size: 16px;
        line-height: 21px;
        text-align: center;
    }
    .filter-range {
        width: 330px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .price-controls {
        position: relative;
        height: 35px;
        margin-bottom: 16px;
        font-size: 0;
        border: 2px solid #ffffff;
        border-radius: 2px;
    }

    .price-controls::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 22px;

        background: #ffffff;
        transform: translate(-50%, -50%);
}

    .price-controls label {
        display: inline-block;
        font-size: 14px;
        line-height: 38px;
        vertical-align: top;
        cursor: pointer;
    }

    .price-controls .min-price,
    .price-controls .max-price {
        width: 90px;
        padding-left: 50px;
    }

    .price-controls input {
        width: 50px;
        margin: 0;
        color: inherit;
        font: inherit;
        line-height: 0px;
        background: none;
        border: none;
    }

    .range-controls {
        position: relative;
        margin-bottom: 32px;
    }

    .range-controls .scale {
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
    }

    .range-controls .bar {
        width: 80%;
        height: 2px;
        background: #ffffff;
    }

    .range-toggle {
        position: absolute;
        top: -9px;
        width: 4px;
        height: 4px;
        background: #ababab;
        border: 8px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
        cursor: pointer;
    }

    .range-toggle:hover {
        background: #1c4f80;
    }

    .range-toggle-min {
        left: 0;
    }

    .range-toggle-max {
        left: 80%;
    }
    .cost-less,.cost-larger {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    }
    .cost-btn {
    	font-size: 14px;
    	line-height: 21px;
    	color: #ffffff;
    	text-transform: uppercase;
    	border: 2px solid #ffffff;
    	background: transparent;
    	padding-left: 32px;
    	padding-right: 32px;
    	padding-top: 6px;
    	padding-bottom: 6px;
    	margin-right: 12px;
    	box-sizing: border-box; 
    }
    .cost-btn:hover {
    	color: #000000;
    	background-color: #ffffff;
    }
    .examples-hotels {
    	margin: 0;
    	padding: 0;
    	background-color: #fefefe;

    }
    .sorting {
    	min-height: 85px;
    	border-bottom: 2px solid #f2f2f2;
    	display: flex;
    	justify-content: flex-start;
    	align-items: center;

    }
    .find-span {
    	font-size: 21px;
    	line-height: 26px;
    	font-weight: bold;
    	padding-left: 70px;
    	white-space: nowrap;
    	width: 110px;
    }
    .sorting-span {
    	font-size: 12px;
    	line-height: 18px;
    	margin-left: 57px;
        margin-top: 7px;
    }
    .sorting-items {
    	list-style: none;
        width: 100%;
        padding-top: 1px;
        margin-right: 434px;
    	display: flex;
    	justify-content: space-between;
    }
    .sorting-items a {
    	font-size: 12px;
    	line-height: 18px;
    	color: rgba(0, 0, 0, 0.3);
    	border-bottom: 1px dashed #81b3d2;
    	margin-right: 30px;
    }
     
    .sorting-items a:hover {
    	border-bottom: 1px dashed #81b3d2;
    	color: #81b3d2;
    }
    .sorting-items a:active {
    	color: #000000;
    }
    .sorting-items-arrow {
    	list-style: none;
    	width: 40px;
    	height: 11px;
    	display: flex;
    	margin-left: auto;
    	margin-right: 9px;
    	padding-top: 6px;
    	padding-right: 65px;
    }
    .sorting-active:first-child {
    	border: none;
    	color: #81b3d2 ;
    }
    .sorting-active:first-child:hover {
    	border: none;
    }
    .arrow-up {
    	background: url(../img/icon-up-dir.svg) no-repeat;
    	width: 11px;
    	height: 11px;
    	margin-right: 10px;
    }
    .arrow-dir {
        background: url(../img/icon-down-dir.svg) no-repeat;
    	width: 11px;
    	height: 11px;
    }
    .sorting-active {
    	color: #81b3d2;
    }
    .examples-options-hotels {
    	display: flex;
    	flex-direction: column;
    	box-sizing: border-box;
    	background-color: #fefefe;
    }
    .options-hotels {
    	min-height: 152px;
    	display: flex;
    	border-bottom: 2px solid #f2f2f2;
    	padding-left: 70px;
    	box-sizing: border-box;
    	
    }
    .img-options-hotels {
    	margin-top: 30px;
    }
    .block-options-hotels {
    	margin-left: 32px;
    	position: relative;
    	width: 530px;
    }
    .block-options-hotels h3 {
        margin-bottom: 7px;
        margin-top: 26px;
    }
    
    .hotel-name  {
    	font-size: 21px;
		line-height: 26px;
		font-weight: bold;
		color: #151515;
		margin-top: 0;
		margin-bottom: 8px;
		padding-top: 25px;
       
    }
    .hotel-name:hover {
    	color: #81b3d2;
    }
    .hotel-name:active {
    	color: rgba(0, 0, 0, 0.3);
    }
    .options-hotels-items {
    	display: flex;
    	margin-top: 7px;
    	margin-bottom: 8px;
    	width: 180px;

    }
    .options-hotels-star {
    	
    	height: 17px;
    	background: url(../img/star.svg) space;
    	position: absolute;
    	left: 810px;
    	top: 28px;
    }
    .amara-resort-star {
    	width: 83px;
    	left: 804px;
    }
    .desert-quail-star {
    	width: 60px;
    	left: 830px;
    }
    .villas-poco-diablo-star {
    	width: 38px;
    	left: 853px;
    }

   .options-hotels-price {
   	    margin-left: auto;
    }

    .options-hotels-housing,.options-hotels-price  {
    	font-size: 14px;
    	line-height: 21px;
    	color:#333333;
    	font-weight: normal;
    	
    }
    .options-hotels-btn {
    	display: flex;
    	width: 965px;

    }
    .options-btn-left {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	color: #ffffff;
    	text-align: center;
    	vertical-align: middle;
    	background-color: #81b3d2;
    	margin-top: 6px;
    	padding-left: 16px;
    	padding-right: 16px;
    	padding-top: 3px;
    	padding-bottom: 3px;
    	box-sizing: border-box;
        
     }
    .options-btn-right {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: bold;
    	text-decoration: none;
    	text-align: center;
    	vertical-align: middle;
    	color: #ffffff;
    	background-color: #766357;
    	margin-left: 8px;
    	margin-top: 6px;
    	padding-left: 16px;
    	padding-right: 16px;
    	padding-top: 3px;
    	padding-bottom: 3px;
    	

    }
    .options-hotels-rating {
    	font-size: 14px;
    	line-height: 21px;
    	font-weight: normal;
    	color: #666666;
    	text-align: center;
    	background-color: #f2f2f2;
    	margin-left: auto;
    	margin-right: 73px;
    	margin-top: 4px;
    	padding-top: 5px;
        width: 110px;
        
    }



